.app-header {
  padding: 1em 2.5em;
  background: $darkest-color;
  text-align: center;
}

.app-header-avatar {
  width: 15rem;
  height: 15rem;

  @if $circle-avatar {
    border-radius: 100%;
    border: 0.5rem solid $primary-color;
  }
}

.app-container {
  padding: 1em 2.5em;
}

.app-header-link {
  color: $primary-color;
  margin-top: -.67em;

  a {
    font-size: .9em;
  }
}

.app-header-social {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: $lightest-color;

  a:not(:last-child) {
    margin-right: 0.4em;
  }
}

.app-header-copyright {
  a {
    color: $light-color;
  }
}

.app-header-title {
  color: $lightest-color;
  display: block;
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: bold;
}

@media (min-width: 940px) {
  .app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    min-height: 100vh;
    padding: 2.5em;
  }

  .app-container {
    max-width: 98rem;
    margin-left: 20rem;
  }

  .app-header-bottom {
    position: absolute;
    bottom: 0;
    margin-left: 4rem;
  }
}
